.circle-progress-container {
    .circle-progress-inner {
        > span {
            font-size: 1rem;
            font-weight: 600;
            color: #8c8c8c;
        }
    }
}

.position-absolute.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}